.preloader {
	padding-block: 0.5em;
	font-family: Soloist, "Arial Black", sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	background-image: linear-gradient(to right, $ui-text-accent, $ui-bg-primary 45% 55%, #fefe55);
	-webkit-background-clip: text; 
	background-clip: text; 
	color: transparent;
	
	background-size: 400% 300%;
	background-position: -100%;
	
	animation: animatedText 5s infinite alternate-reverse;
  }
  
  @keyframes animatedText{
	from {
		background-position: 0%; 
	  }
	to {
	  background-position: 100%; 
	}
  }